@using BAN_HANG_MVC5.Models;

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div class="top-header">
    <div class="container">
        <div class="top-header-left">
            <div class="col-md-6 top-header-left">
                @Html.Action("GioHangPartial", "GioHang")
            </div>
        </div>
    </div>
</div>